<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1> <i class="fas fa-cog"></i> Mes paramètres de compte</h1>
  </div>
</div>

<div class="container">

  <div class="row">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6">
    <div class="form-new-user">
        <% if @current_user.avatar_url %>
          <%= cl_image_tag current_user.avatar_url, class: "edit-avatar" %>
        <% else %>
          <%= image_tag "avatar.png", class: "edit-avatar" %>
        <% end %>
        <div class="upload-input-container">
          <%= f.input :avatar, required: false, autofocus: true, label: false, input_html: { class: "preview"}%>
          <div class="preview-container"></div>
          <span class="upload-button">Modifier votre avatar</span>
          <%= f.input :avatar_cache, as: :hidden %>
        </div>

        <div class="preview-container"></div>

        <%= f.input :first_name, autofocus: true %>
        <%= f.input :last_name, required: false,label: "Nom", autofocus: true %>
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :introduction, required: false,label: "Votre présentation", autofocus: true, :input_html => {:rows => 5}%>
        <%= f.button :submit, "modifier", class: "btn-form-new btn btn-warning "  %>

        <% end %>


        <h6>Vous souhaitez nous quitter ? <%= link_to "Fermer mon compte", registration_path(resource_name), data: { confirm: "Etes-vous sûr?" }, method: :delete %></h6>

      </div>
    </div>
  </div>
</div>
