<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1> <i class="fas fa-user-plus"></i> 1ère inscription en 2 infos et 3 clics </h1>
  </div>
</div>

<div class="containter">
  <br>

  <div class="row">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

       <div class="col-xs-12 col-sm-offset-4 col-sm-4">
          <div class="form-new-user">
            <%= f.input :email, label: "Votre adresse e-mail",required: true, autofocus: true, placeholder: 'jaimelesannimaux@gmail.com' %>
            <%= f.input :password, required: true, label: "Choix du mot de passe", hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation,label: "Confirmation du mot de passe", required: true %>
            <%= f.button :button, "Rejoindre la communauté Doggui", type: :submit, class: :'btn-form-new btn btn-warning' %>
         </div>
       </div>
    <% end %>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>

</div>


