<div class="container">
<div class="col-xs-12 col-sm-offset-3 col-sm-6">
  <h2>Enregristez-vous </h2>
  <h6>(en quelques clics)</h6>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true,
                 placeholder: 'pierre.paul.jaques@gmail.com' %>
    <%= f.input :first_name, required: false, autofocus: true %>
    <%= f.input :last_name, required: false, autofocus: true %>
    <%= f.input :telephone, required: false, autofocus: true %>
    <%= f.input :avatar, required: false, autofocus: true %>
    <%= f.input :address, required: false, autofocus: true %>
    <%= f.input :siret, required: false, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

<div class="form-actions">
   <%= f.button :button, "Sign up", type: :submit, class: :'btn-warning btn-sm' %>
</div>
<% end %>

  </div>
    </div>

<%= render "devise/shared/links" %>
