
<%= simple_form_for (@dog), html: { multipart: true } do |f| %>


  <div class= "row">

    <div class="hidden-xs col-sm-3">
      <div class= "row">
         <div class="col-sm-12">
           <div class="bloc-new-form illu-form-for-picture">
            <br>
              <h4> <i class="fas fa-camera-retro"></i> Réussir ses photos</h4>
              <h6>Choisir un fond neutre</h6>
              <h6>Préférer Une lumière extérireure naturelle</h6>
              <h6> Eviter les compositions coupées</h6>
              <h6> Attention aux floues et aux photos en mouvements </h6>
           </div>
         </div>
      </div>
    </div>

   <div class="col-xs-12 col-sm-6">

    <div class= "row">

       <div class= "bloc-new-form ">

        <div class="row">
          <div class="col-sm-12">
            <div class="upload-input-container">
              <%= f.input :picture, placeholder: 'Photo', label: 'Photo princpale',hint:"Son plus beau profil", input_html: { class: "preview"} %>
              <div class="preview-container"></div>
              <span class="upload-button">Ajouter une image</span>
            </div>
            <% if @dog.picture? %>
              <div class="simple-image-form">
                <%= cl_image_tag(@dog.picture, style: 'width: 150px') %>
              </div>
             <% end %>
          </div>
          <div class="col-sm-12"><%= f.input :picture_cache, as: :hidden %></div>
        </div>

       <div class="row">
          <div class="col-sm-12">
            <div class="upload-input-container">
              <%= f.input :images, as: :file, input_html: { multiple: true, class: 'multiple-file-limit-3 preview' }, name: 'images[]', label:"Photos supplémentaires", hint:" Ajoutez jusqu'à 4 photos en plus"  %>
              <div class="preview-container"></div>
              <span class="upload-button">Ajouter une image</span>
            </div>
            <% @dog.images.each do |image| %>
              <div class="multiple-images-form">
                <%= cl_image_tag(image.image, style: 'width: 150px') %>
                <div class="multiples-image-form-delete">
                  <%= label_tag 'Supprimer' %>
                  <%= check_box_tag image.id, 'delete' %>
                </div>
              </div>
             <% end %>
          </div>
         </div>
       </div>
      </div>
     </div>


  </div>

    <div class= "row">

        <div class="hidden-xs col-sm-3">
          <div class= "row">
            <div class="col-sm-12">
              <div class="bloc-new-form illu-form-for-detail">
             <h4><i class="fas fa-asterisk"></i> Les informations pour un bon référencement</h4>
             <br>
              <h6>Utiliser la liste dans le menu déroulant</h6>
              <h6> Renseigner les informations physique clés (nous sommes sûrs que vous les connaissez par coeur)</h6>
              <h6>Vous êtes déjà à la motié du formulaire ! </h6>
           </div>
         </div>
          </div>
        </div>
       <div class="col-xs-12 col-sm-6">
         <div class= "row">
            <div class= "bloc-new-form">

              <div class="row">
                <div class="col-xs-12 col-sm-6"> <%= f.input :nickname, label:"Prénom de l'annimal", placeholder: "ex : Léonard" %></div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">  <%= f.input :birthday_date, label:"Date de naissance" %> </div>
              </div>

              <div class="row">
                <div class="col-xs-12 col-sm-6"> <%= f.association :breed, label: "Pédigrée" %></div>
                <div class="col-xs-12 col-sm-6"><%= f.input :lof_number, label:"Son numéro LOF", placeholder: "ex : LOF-20150488-2016-1" %>  </div>
              </div>

              <div class= "row">
                <div class="col-xs-12 col-sm-6"><%= f.input :color, label:"Robe", placeholder: "ex : Fauve" %></div>
                <div class="col-xs-12 col-sm-6"><%= f.input :weight, label:"Poids (en Kg)",placeholder: "ex : 3,5" %></div>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class= "row">

        <div class="hidden-xs col-sm-3">
          <div class= "row">
            <div class="col-sm-12">
              <div class="bloc-new-form illu-form-for-description">
                <h4><i class="fas fa-list-ul"></i> Les détails pour devancer les questions</h4>
                <br>
                <h6>Essayer d'être précis</h6>
                <h6>Une annonce bien remplie donne confiance</h6>
                <h6>Les "plus" qui metteront en valeur votre doggui</h6>
                <h6>Définir la contrinution financière en cohérence avec ses atouts </h6>
             </div>
           </div>
          </div>
        </div>
       <div class="col-xs-12 col-sm-6">
         <div class= "row">
            <div class= "bloc-new-form ">

              <div class="row">
               <div class="col-xs-12 col-sm-12"><%= f.input :description, placeholder: 'Analyses médicales réalisées, prix beauté reçu ...', label: " Description", :input_html => {:rows => 10}%></div>
              </div>

              <div class="row">
                 <div class="col-xs-12 col-sm-12"> <%= f.input :address, label:"Adresse de sa niche",placeholder: "4, Rue Victor Hugo Nantes", hint:"Il n'y a que votre ville qui sera affichée sur notre site" %> </div>
              </div>

              <div class="row">
                <div class="col-sm-6"> <%= f.input :price, label:"Rétribution (en €)", placeholder: "ex : 350" %></div>
              </div>
            </div>
          </div>
        </div>
        </div>
         <div class= "row">
        <div class="col-xs-12 col-sm-3"></div>
        <div class="col-xs-12 col-sm-2">
        <%= f.submit "Publier" ,class: "btn-form"%>
         </div>
           </div>
      </div>


<% end %>

<br>
<br>
<br>
