<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1>  <%= @dog.nickname %> le <%= @dog.breed&.name %></h1>
  </div>
</div>


<div class="row container-show">

  <div class="col-xs-12 col-sm-8">

    <% if @dog.images.count == 1 %>
         <div class="row">

            <div class="col-xs-12 col-sm-6">
                  <%= cl_image_tag @dog.picture, class: "image-show-1" %>
            </div>

             <div class="col-xs-12 col-sm-6">
                  <%= cl_image_tag @dog.images.first.image, class: "image-show-2"%>
            </div>

          </div>
      <% end %>

      <% if @dog.images.count == 2 %>
         <div class="row">

            <div class="col-xs-12 col-sm-6">
                  <%= cl_image_tag @dog.picture, class: "image-show-1" %>
            </div>

             <div class="col-xs-12 col-sm-6">
                 <div class="row">
                   <div class="col-xs-12 col-sm-12">
                     <%= cl_image_tag @dog.images.first.image, class: "image-show-3"%>
                   </div>
                  </div>

                  <div class="row">
                   <div class="col-xs-12 col-sm-12">
                     <%= cl_image_tag @dog.images.second.image, class: "image-show-3"%>
                   </div>
                 </div>
              </div>
           </div>
      <% end %>

      <% if @dog.images.count == 3 %>
         <div class="row">

            <div class="col-xs-12 col-sm-6">
                  <%= cl_image_tag @dog.picture, class: "image-show-1" %>
            </div>

             <div class="col-xs-12 col-sm-6">
                 <div class="row">
                   <div class="col-xs-12 col-sm-12">
                     <%= cl_image_tag @dog.images.first.image, class: "image-show-3"%>
                   </div>
                  </div>

                  <div class="row">
                   <div class="col-xs-12 col-sm-6">
                     <%= cl_image_tag @dog.images.second.image, class: "image-show-4"%>
                   </div>
                   <div class="col-xs-12 col-sm-6">
                     <%= cl_image_tag @dog.images.third.image, class: "image-show-4"%>
                   </div>
                 </div>
            </div>

          </div>
      <% end %>

     <% if @dog.images.count == 4 %>
         <div class="row">

            <div class="col-xs-12 col-sm-6">
                  <%= cl_image_tag @dog.picture, class: "image-show-1" %>
            </div>

             <div class="col-xs-12 col-sm-6">
                 <div class="row">
                   <div class="col-xs-12 col-sm-12">
                     <%= cl_image_tag @dog.images.first.image, class: "image-show-3"%>
                   </div>
                  </div>

                  <div class="row">
                   <div class="hidden-xs col-sm-4">
                     <%= cl_image_tag @dog.images.second.image, class: "image-show-5"%>
                   </div>
                   <div class="hidden-xs col-sm-4">
                     <%= cl_image_tag @dog.images.third.image, class: "image-show-5"%>
                   </div>
                    <div class="hidden-xs col-sm-4">
                     <%= cl_image_tag @dog.images.fourth.image, class: "image-show-5"%>
                   </div>
                 </div>
            </div>

          </div>
      <% end %>

      <div class="row">

         <div class="col-xs-12 col-sm-3">

            <div class="row">

                  <div class="col-xs-6 col-sm-12">
                    <div class='carte-caracteristique'>
                      <div class="carte-caracteristique-texte"><%= @dog.weight%></div>
                      <div class="carte-caracteristique-texte-2">poids</div>
                    </div>
                  </div>

                 <div class="col-xs-6 col-sm-12">
                    <div class='carte-caracteristique'>
                      <div class="carte-caracteristique-texte"><%= @dog.color%></div>
                      <div class="carte-caracteristique-texte-2">Couleur de la robe</div>
                    </div>
                 </div>

                 <div class="col-xs-6 col-sm-12">
                    <div class="carte-caracteristique">
                      <div class="carte-caracteristique-texte"><%= @dog.lof_number%></div>
                      <div class="carte-caracteristique-texte-2">N° de LOF</div>
                    </div>
                 </div>


               <div class="col-xs-6 col-sm-12">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte"><%= @dog.age%></div>
                    <div class="carte-caracteristique-texte-2"><%= @dog.birthday_date %></div>
                  </div>
               </div>

               <div class="col-xs-6 col-sm-12">
                  <div class="carte-caracteristique">
                   <div class="carte-caracteristique-texte"><%= @dog.eye_color%></div>
                   <div class="carte-caracteristique-texte-2"> Couleur des yeux</div>
                  </div>
               </div>

               <div class="col-xs-6 col-sm-12">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte"> <%= @dog.price%> €</div>
                    <div class="carte-caracteristique-texte-2"> Rétribution</div>
                  </div>
               </div>
           </div>
           </div>

            <div class="col-xs-12 col-sm-9">
              <div class="info-description">
              <div class="show-titre">🐕 Description</div>
              <%= @dog.description %>
            </div>

            </div>
      </div>

      <div class="row">
            <div class="card-show-adresse col-xs-12 col-sm-12">
               <div class="address-map">📍<%= @dog.address %> </div>
             </div>
             <div class="hidden-xs col-sm-12">
               <div
                id="map"
                style="width: 104%;
                min-height: 45vh;"
                data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
         </div>
      </div>

  </div>

   <div class="col-xs-12 col-sm-4">

          <div class="card-show-user">
            Le PROPRIETAIRE
          <% if @dog.user.avatar_url %>
          <%= cl_image_tag @dog.user.avatar_url, class: "avatar-show" %>
          <% else %>
          <%= image_tag "avatar.png", alt:"logo", class:"avatar-show"%>
          <% end %>
           <div class="show-titre"><%= @dog.user.first_name %> <%= @dog.user.last_name %> </div>
           Inscrit depuis : <%= @dog.user.created_at%>
         </div>

    <br>

    <div class="chat">

        <% if user_signed_in? %>
        <chat
          :get_url="<%= find_messages_index_path %>"
          :post_url="<%= find_dog_post_conversation_path %>"
          :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
          :dog_to_user="<%= policy(@dog).to_user? %>"
          :dog="<%= @dog.id %>"
          :user_id="<%= current_user.id %>"
        ></chat>
        <% end %>
    </div>


</div>
