<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h1>  <%=@dog.nickname%> le <%=@dog.breed%>(<%= @dog.age%>)   </h1>
  </div>
</div>


<div class="container container-show-visitor">

  <div class="container-list">

    <div class="row">

      <div class="col-xs-12 col-sm-4 col-md-3 show-card-picture"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, width:300, heigh:250, crop: :fill%>');">
      </div>

      <div class="hidden-xs col-sm-4 col-md-3 show-card-picture">

        <div id="carouselExampleIndicators" class="carousel slide caroussel-size" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <% @dog.images.count.times do |index| %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= index + 1 %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <%= cl_image_tag @dog.picture %>
            </div>
            <% @dog.images.each do |dog_image| %>
              <div class="item">
                <%= cl_image_tag(dog_image.image) %>
              </div>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>


     <div class="col-xs-12 col-md-3">

      <div class="card-show-map">
            <% if @dog.user.avatar_url %>
            <%= cl_image_tag @user.avatar_url, class: "avatar-show" %>
            <% else %>
            <%= image_tag "avatar.png", alt:"logo", class:"avatar-show"%>
            <% end %>
             <div class="show-titre"><%= @dog.user.first_name %> <%= @dog.user.last_name %> </div>
      </div>

          <% if user_signed_in? %>
          <chat
            :get_url="<%= find_messages_index_path %>"
            :post_url="<%= find_dog_post_conversation_path %>"
            :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
            :dog_to_user="<%= policy(@dog).to_user? %>"
            :dog="<%= @dog.id %>"
            :user_id="<%= current_user.id %>"
          ></chat>
          <% end %>
     </div>


    </div>


    <div class="row">

       <div class="col-xs-12 col-sm-8">

        <div class="row">
           <div class="col-xs-6 col-sm-4 carte-caracteristique"><%= @dog.version %> version</div>
           <div class="col-xs-6 col-sm-4 carte-caracteristique"><%= @dog.color %> COULEUR DE LA ROBE</div>
           <div class="col-xs-6 col-sm-4  carte-caracteristique"><%= @dog.hair %> TYPE DE POIL</div>
       </div>
         <div class="row">
            <div class="col-xs-6 col-sm-4 carte-caracteristique">N°LOF> <%= @dog.lof_number%> </div>
            <div class="col-xs-6 col-sm-4 carte-caracteristique"><%= @dog.birthday_date %> DATE DE NAISSANCE </div>
            <div class="col-xs-6 col-sm-4 carte-caracteristique"><%= @dog.eye_color %>COULEUR DES YEUX </div>
       </div>

      </div>

    </div>

    <div class="row">
      <div class="card-show-description col-xs-12 col-sm-8">
          <div class="info-description">
            <div class="show-titre">🐕 Description</div>
            <%= @dog.description %>
          </div>
      </div>

      <div class="row">
         <div class="col-xs-6 col-sm-4  carte-caracteristique">📍<%= @dog.address %></div>
        <div class="col-xs-6 col-sm-4  carte-caracteristique"><%= @dog.price%> retribution</div>
     </div>
    </div>

    <div class="row">
        <div class="card-show-map col-xs-12 col-sm-8">
         <div
          id="map"
          style="max-width: 100%;
          min-height: 25vh;"
          data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
     </div>

  </div>


  <div class="container-chat">

    <div class="bouton-show-orange">
        <%= link_to 'RETOUR LISTE', index_dogs_path, class: "btn-block" %>
    </div>

 </div>

</div>








