<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
   <h2>  <%= "'#{@dog.nickname}'" %> le <%= link_to dog.breed&.name, index_search_path(query: dog.breed&.name) %> </h2>
  </div>
</div>

<div class="row container-show">

  <div class="col-xs-12 col-sm-8">
    <div class="row image-gallery">
      <div class="main-image" style="background-image: url('<%= cl_image_path @dog.picture %>');"></div>
      <% if @dog.images.any? %>
        <div class="secondary-images images-count-<%= @dog.images.count %>">
          <div class="banner-secondary-image" style="background-image: url('<%= cl_image_path @dog.images&.first.image %>');"></div>
          <% if @dog.images.count > 1 %>
            <div class="tertiary-images">
              <% if @dog.images[1] %>
                <div class="third-image" style="background-image: url('<%= cl_image_path @dog.images[1]&.image %>');"></div>
              <% end %>
              <% if @dog.images[2] %>
                <div class="fourth-image" style="background-image: url('<%= cl_image_path @dog.images[2]&.image %>');"></div>
              <% end %>
              <% if @dog.images[3] %>
                <div class="fifth-image" style="background-image: url('<%= cl_image_path @dog.images[3]&.image %>');"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="row">
                <div class="col-xs-6 col-sm-12 info-card">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte"><%= @dog.status %></div>
                    <div class="carte-caracteristique-texte-2"><%= @dog.lof_number%></div>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-12 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte"><%= @dog.age%></div>
                  <div class="carte-caracteristique-texte-2"><%= " Né le #{@dog.birthday_date}"%></div>
                </div>
                </div>

                <div class="col-xs-6 col-sm-12 info-card">
                  <div class='carte-caracteristique'>
                    <div class="carte-caracteristique-texte"><%= @dog.color%></div>
                    <div class="carte-caracteristique-texte-2">Couleur de la robe</div>
                  </div>
                </div>


              <div class="col-xs-6 col-sm-12 info-card">
                  <div class='carte-caracteristique'>
                    <div class="carte-caracteristique-texte"><%= "#{@dog.weight} kg"%></div>
                    <div class="carte-caracteristique-texte-2">Poids</div>
                  </div>
                </div>

              <div class="col-xs-6 col-sm-12 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte retribution"> <%= @dog.price%> €  </div>
                  <div class="carte-caracteristique-texte-2 "> Rétribution</div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-12 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte"> 📍<%= dog.get_city&.capitalize %> </div>
                  <div class="carte-caracteristique-texte-2 "> Ville </div>
                </div>
              </div>
          </div>
          </div>

          <div class="col-xs-12 col-sm-9 info-description-container">
            <div class="info-description">
            <div class="show-titre-description">🐕 Description</div>
            <%= sanitize(@dog.description.gsub(/\n/, '<br/>')).html_safe %>
          </div>

          </div>
    </div>

    <div class="row">
            <div class="hidden-xs col-sm-12">
              <div
              id="map"
              style="width: 103.5%;
              min-height: 45vh;
              border-radius: 5px;"
              data-zoom-out="true"
              data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
    </div>

  </div>


   <div class="col-xs-12 col-sm-4">
       <div class="dropdown">
          <a class="dropdown-toggle dropdow-show" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu dropdonw-menu-show">
            <li>
              <% if policy(@dog).update? %>
              <div class="bouton-show"><%= link_to 'Modifier', edit_dog_path(@dog)%></div>
              <% end %>
            </li>
            <li>
             <% if policy(@dog).destroy? %>
             <div class="bouton-show"><%= link_to 'Supprimer', @dog, method: :delete, data: { confirm: 'Are you sure?' }%></div>
          <% end %>
      </div>

    <br>

    <div id="conversation">
        <% if user_signed_in? %>
          <chat
            :get_url="<%= find_messages_index_path %>"
            :post_url="<%= find_dog_post_conversation_path %>"
            :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
            :dog_to_user="<%= policy(@dog).to_user? %>"
            :dog="<%= @dog.id %>"
            :user_id="<%= current_user.id %>"
          ></chat>
        <% end %>
    </div>

  </div>

</div>
