<div class="container-fluid">

  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-6 card-show-image img-fluid"
      style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, height: 400, crop: :fill%>');">
    </div>

    <div class="col-xs-12 col-sm-10 col-md-3">

      <div class="dropdown">
          <a class="dropdown-toggle dropdow-show" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu dropdonw-menu-show">
            <li>
              <% if policy(@dog).update? %>
              <div class="bouton-show"><%= link_to 'Modifier', edit_dog_path(@dog)%></div>
              <% end %>
            </li>
            <li>
             <% if policy(@dog).destroy? %>
             <div class="bouton-show"><%= link_to 'Supprimer', @dog, method: :delete, data: { confirm: 'Are you sure?' }%></div>
            <% end %>
            </li>
          </ul>
      </div>

      <% if user_signed_in? %>
        <chat
          :get_url="<%= find_messages_index_path %>"
          :post_url="<%= find_dog_post_conversation_path %>"
          :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
          :dog_to_user="<%= policy(@dog).to_user? %>"
          :dog="<%= @dog.id %>"
          :user_id="<%= current_user.id %>"
        ></chat>
        <% end %>
     </div>
   </div>

   <div class="row">

     <div class="card-show-caracteristique col-xs-12 col-sm-6 col-md-6">
        <div class="show-titre">
          <%=@dog.nickname%> - <%=@dog.breed%><%= @dog.age%>
        </div>

         <div class="divers">
          <div class="texte-caracteristique"> Analyse effectuées :</div><div> <%= @dog.medical_analyse %></div>
          <div class="texte-caracteristique"> Prix beauté reçu :</div><div> <%= @dog.prize %>
          </div>
        </div>

        <br>

        <div class="esthetique">
          <div class="texte-caracteristique">VERSION : </div><div><%= @dog.version %></div>
          <div class="texte-caracteristique">COULEUR DE LA ROBE : </div><div><%= @dog.color %></div>
          <div class="texte-caracteristique">TYPE DE POIL : </div><div> <%= @dog.hair %></div>
          <div class="texte-caracteristique">COULEUR DES YEUX : </div><div><%= @dog.eye_color %></div>
          <div class="texte-caracteristique">DATE DE NAISSANCE : </div><div><%= @dog.birthday_date %></div>
        </div>

         <br>

        <div class="lof">
           <div class="texte-caracteristique">LOF </div><div><%= @dog.nickname %> : <%= @dog.lof_number %></div>
           <div class="texte-caracteristique">LOF DE SA MAMAN : </div><div><%= @dog.mother_lof %></div>
           <div class="texte-caracteristique">LOF DE SON PAPA : </div><div><%= @dog.father_lof %></div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="card-show-description col-xs-12 col-sm-6 col-md-6">
          <div class="info-description">
            <div class="show-titre">🐕 Description</div>
            <%= @dog.description %>
          </div>
      </div>
    </div>

    <div class="row">
        <div class="card-show-map col-xs-12 col-sm-6">
          <div>📍<%= @dog.address %></div>
         <div
          id="map"
          style="max-width: 100%;
          min-height: 25vh;"
          data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>

    <div class="bouton-show-orange">
        <%= link_to 'RETOUR LISTE', index_search_path, class: "btn-block" %>
    </div>

 </div>
