<div class="banner-show" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
    <h2>  <span style="text-transform:uppercase; letter-spacing: 3px"> <%="'#{@dog.nickname}'" %>  </span> le <%= link_to dog.breed&.name, index_search_path(query: dog.breed&.name) %> </h2>
  </div>
</div>


<div class="row container-show">


 <div class="col-xs-12 col-sm-8">
    <div class="row image-gallery">
      <div class="main-image" style="background-image: url('<%= cl_image_path @dog.picture %>');"></div>
      <% if @dog.images.any? %>
        <div class="secondary-images images-count-<%= @dog.images.count %>">
          <div class="banner-secondary-image" style="background-image: url('<%= cl_image_path @dog.images&.first.image %>');"></div>
          <% if @dog.images.count > 1 %>
            <div class="tertiary-images">
              <% if @dog.images[1] %>
                <div class="third-image" style="background-image: url('<%= cl_image_path @dog.images[1]&.image %>');"></div>
              <% end %>
              <% if @dog.images[2] %>
                <div class="fourth-image" style="background-image: url('<%= cl_image_path @dog.images[2]&.image %>');"></div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="row">
                <div class="col-xs-6 col-sm-4 info-card">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte"><%= @dog.status %></div>
                    <div class="carte-caracteristique-texte-2"><%= @dog.lof_number%></div>
                  </div>
                </div>

                <div class="col-xs-6 col-sm-4 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte"><%= @dog.age%></div>
                  <div class="carte-caracteristique-texte-2"><%= " Né le #{@dog.birthday_date}"%></div>
                </div>
                </div>

                <div class="col-xs-6 col-sm-4 info-card">
                  <div class='carte-caracteristique'>
                    <div class="carte-caracteristique-texte"><%= @dog.color%></div>
                    <div class="carte-caracteristique-texte-2">Couleur de la robe</div>
                  </div>
                </div>


              <div class="col-xs-6 col-sm-4 info-card">
                  <div class='carte-caracteristique'>
                    <div class="carte-caracteristique-texte"><%= "#{@dog.weight} kg"%></div>
                    <div class="carte-caracteristique-texte-2">Poids</div>
                  </div>
                </div>

              <div class="col-xs-6 col-sm-4 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte retribution"> <%= @dog.price%> €  </div>
                  <div class="carte-caracteristique-texte-2 "> Rétribution</div>
                </div>
              </div>

              <div class="col-xs-6 col-sm-4 info-card">
                <div class="carte-caracteristique">
                  <div class="carte-caracteristique-texte"> 📍<%= dog.get_city&.capitalize %> </div>
                  <div class="carte-caracteristique-texte-2 "> Ville </div>
                </div>
              </div>
          </div>
          </div>

          <div class="col-xs-12 col-sm-12 info-description-container">
            <div class="info-description">
            <div class="show-titre-description">🐕 Description</div>
            <%= sanitize(@dog.description.gsub(/\n/, '<br/>')).html_safe %>
          </div>

          </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-3">

          <div class="row">

                  <div class="carte-caracteristique-ville"> 📍<%= dog.get_city&.capitalize %>
                    <div class="carte-caracteristique-ville-2"> Ville </div>
                  </div>
            </div>
         </div>

          <div class="col-sm-12 col-md-9">
              <div
              id="map"
              style="width: 100%;
              min-height: 30vh;
              border-radius: 5px;"
              data-zoom-out="true"
              data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
        </div>
     </div>

  </div>

   <div class="col-xs-12 col-sm-4 card-show-user-container">

          <div class="card-show-user">

             <% if @dog.user.avatar_url %>
                <%= link_to showprofile_path(dog.user) do %>
                 <img src="<%= cl_image_path @dog.user.avatar, width: 70, height: 70, crop: :fill, gravity: :face %>" class="avatar-navbar">
                <% end %>
              <% else %>
                <%= link_to image_tag("avatar.png", alt:"logo", class:"avatar-show"), showprofile_path(dog.user) %>
            <% end %>

           <div class="show-titre-description"><%= @dog.user.first_name %> - L'heureux(se) propriétaire</div>
           <div>Inscrit depuis : <%= l(@dog.user.created_at, format: :date_month_year_concise) %></div>
           <div>Dernière visite : <%= l(@dog.user.last_sign_in_at || @dog.user.created_at, format: :date_month_year_concise) %></div>
           <div>profil vérifié <i class="fas fa-user-check"></i></div>
          <br>
           <div><%= @dog.user.introduction%></div>
         </div>

       <div class="bouton-show-like">
          <% if user_signed_in? %>
        <%= link_to dog_like_path(dog), method: :put, remote: true, class: 'downvote-upvote' do %>
          <div class="show-like">
            <% if current_user.voted_for? dog %>
              <i class="fas fa-heart fa-2x"></i>
            <% else %>
              <i class="far fa-heart fa-2x"></i>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="show-like">
          <% if dog.get_upvotes.size > 0 %>
            <i class="fas fa-heart fa-2x"></i>
          <% else %>
            <i class="far fa-heart fa-2x"></i>
          <% end %>
        </div>
      <% end %>

       </div>

    <div id="conversation">

        <% if user_signed_in? %>
        <chat
          :get_url="<%= find_messages_index_path %>"
          :post_url="<%= find_dog_post_conversation_path %>"
          :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
          :dog_to_user="<%= policy(@dog).to_user? %>"
          :dog="<%= @dog.id %>"
          :user_id="<%= current_user.id %>"
        ></chat>
        <% end %>
    </div>

     </div>

    </div>

  </div>

</div>
