<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
  <div class="banner-content">
   <h2>  <%= "'#{@dog.nickname}'" %> le <%= @dog.breed.name %></h2>
  </div>
</div>


<div class="row container-show">

  <div class="col-xs-12 col-sm-8">
    <% if @dog.images.any? %>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= cl_image_tag @dog.picture, class: "image-show-1" %>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="first-image">
            <%= cl_image_tag @dog.images.first.image, class: "image-show-2", crop: :fill, width: 495, height: (@dog.images.count > 1) ? 179 : 360 %>
          </div>
          <% if @dog.images.count > 1 %>
            <div class="other-images">
              <% @dog.images[1..-1].each do |img| %>
                <%= cl_image_tag img.image, height: 179, width: (495 / @dog.images[1..-1].count), crop: :fill, style: "width: #{100 / @dog.images[1..-1].count}%;" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <%= cl_image_tag @dog.picture, class: "image-show-0", width: 1000, height: 380, crop: :fill %>
        </div>
      </div>
    <% end %>

      <div class="row">

         <div class="col-xs-12 col-sm-3">

            <div class="row">

                 <div class="col-xs-6 col-sm-12">
                    <div class="carte-caracteristique">
                      <div class="carte-caracteristique-texte"><%= @dog.lof_number%></div>
                      <div class="carte-caracteristique-texte-2">N° de LOF</div>
                    </div>
                 </div>

                 <div class="col-xs-6 col-sm-12">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte"><%= @dog.age%></div>
                    <div class="carte-caracteristique-texte-2"><%= @dog.birthday_date %></div>
                  </div>
                 </div>

                 <div class="col-xs-6 col-sm-12">
                    <div class='carte-caracteristique'>
                      <div class="carte-caracteristique-texte"><%= @dog.color%></div>
                      <div class="carte-caracteristique-texte-2">Couleur de la robe</div>
                    </div>
                 </div>


               <div class="col-xs-6 col-sm-12">
                    <div class='carte-caracteristique'>
                      <div class="carte-caracteristique-texte"><%= "#{@dog.weight} kg"%></div>
                      <div class="carte-caracteristique-texte-2">poids</div>
                    </div>
                  </div>

               <div class="col-xs-6 col-sm-12">
                  <div class="carte-caracteristique">
                    <div class="carte-caracteristique-texte retribution"> <%= @dog.price%> €</div>
                    <div class="carte-caracteristique-texte-2 "> Rétribution</div>
                  </div>
               </div>
           </div>
           </div>

            <div class="col-xs-12 col-sm-9">
              <div class="info-description">
              <div class="show-titre-description">🐕 Description</div>
              <%= @dog.description %>
            </div>

            </div>
      </div>

      <div class="row">
            <div class="card-show-adresse col-xs-12 col-sm-12">
               <div class="address-map">📍<%= @dog.address %> </div>
             </div>
             <div class="hidden-xs col-sm-12">
               <div
                id="map"
                style="width: 104%;
                min-height: 45vh;"
                data-markers="<%= [{lat:@dog.latitude, lng:@dog.longitude}].to_json %>"
                data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
         </div>
      </div>

  </div>


   <div class="col-xs-12 col-sm-2">
       <div class="dropdown">
          <a class="dropdown-toggle dropdow-show" data-toggle="dropdown" href="#"><i class="fas fa-cog"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu dropdonw-menu-show">
            <li>
              <% if policy(@dog).update? %>
              <div class="bouton-show"><%= link_to 'Modifier', edit_dog_path(@dog)%></div>
              <% end %>
            </li>
            <li>
             <% if policy(@dog).destroy? %>
             <div class="bouton-show"><%= link_to 'Supprimer', @dog, method: :delete, data: { confirm: 'Are you sure?' }%></div>
          <% end %>
      </div>

    <br>

    <div id="conversation">
        <% if user_signed_in? %>
          <chat
            :get_url="<%= find_messages_index_path %>"
            :post_url="<%= find_dog_post_conversation_path %>"
            :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
            :dog_to_user="<%= policy(@dog).to_user? %>"
            :dog="<%= @dog.id %>"
            :user_id="<%= current_user.id %>"
          ></chat>
        <% end %>
    </div>

  </div>

</div>
