<div class="container">

    <%= simple_form_for (@dog) do |f| %>
        <%= cl_image_tag @dog.picture, class: "edit-avatar" %>
       <div class= "row">
        <div class="col-sm-12"><%= f.input :picture, placeholder: 'Photo'%> </div>
        <div class="col-sm-12"><%= f.input :picture_cache, as: :hidden %></div>
        <div class="col-sm-12"><%= f.input :video, placeholder: 'lien Video' %></div>
      </div>
        <br>

      <div class="row">
         <div class="col-sm-5"> <%= f.input :nickname %></div>
         <div class="col-sm-5"> <%= f.input :birthday_date %> </div>
     </div>

       <div class="row">
         <div class="col-sm-4"> <%= f.input :breed %></div>
         <div class="col-sm-4"> <%= f.input :version %></div>
         <div class="col-sm-4"><%= f.input :size %></div>
      </div>

      <div class= "row">

        <div class="col-sm-4"> <%= f.input :hair %></div>
        <div class="col-sm-4"> <%= f.input :color %></div>
         <div class="col-sm-4"> <%= f.input :eye_color %></div>

      </div>

      <div class= "row">
         <div class="col-sm-4"><%= f.input :lof_number %></div>
         <div class="col-sm-4"><%= f.input :father_lof %></div>
         <div class="col-sm-4"><%= f.input :mother_lof %></div>
      </div>

       <div class="row">
         <div class="col-sm-6"><%= f.input :medical_analyse %></div>
         <div class="col-sm-6"><%= f.input :prize, label: "Won prize" %></div>
       </div>

      <div class="row">
        <div class="col-sm-12"> <%= f.input :address %> </div>
      </div>

      <div class="row">
      <div class="col-sm-12"><%= f.input :description, label: " Description" %></div>
      </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :price %></div>
      </div>
      <div class="col-sm-6"> <%= f.submit "Modifier", class: "btn-form-new btn btn-warning " %></div>
      <% end %>
    </div>

  </div>












