<div class="container">

    <%= simple_form_for (@dog) do |f| %>

      <div class="form-for-edit-dog">
      <div class= "head-form-for row">

        <div class="col-sm-6"><%= f.input :picture, placeholder: 'Photo'%> </div>
        <div class="col-sm-4"><%= f.input :picture_cache, as: :hidden %></div>
        <div class="col-sm-6"><%= f.input :video %></div>
      </div>
        <br>

      <div class="row">
         <div class="col-sm-4"> <%= f.input :nickname %></div>
         <div class="col-sm-4"> <%= f.input :birthday_date %> </div>
         <div class="col-sm-4"> <%= f.input :breed %></div>
      </div>

      <div class= "body-form-for row">

        <div class="col-sm-4"><%= f.input :size %></div>
        <div class="col-sm-4"> <%= f.input :hair %></div>
        <div class="col-sm-4"> <%= f.input :color %></div>
      </div>

      <div class= "details-form-for row">
         <div class="col-sm-4"><%= f.input :lof_number %></div>
         <div class="col-sm-4"><%= f.input :father_lof %></div>
         <div class="col-sm-4"><%= f.input :mother_lof %></div>
      </div>

       <div class="row">
         <div class="col-sm-6"><%= f.input :medical_analyse %></div>
         <div class="col-sm-6"><%= f.input :prize, label: "Won prize" %></div>
       </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :address %> </div>
      </div>

      <div class="row">
      <div class="description-form-for"><%= f.input :description, label: " Description" %></div>
      </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :price %></div>
        <div class="col-sm-6"> <%= f.submit "Mettre à jour", class: "btn-form-new btn btn-warning " %></div></div>
      <% end %>
    </div>

  </div>












