<div class="container">

  <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> Trouver son molosse </h1>
      <div class="search-index2">
          <div class= "search-bar">
          <%= form_tag index_search_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher un chien par son pédigrée !" %>
           </div>
              <button class="btn-search-index2"></button>
            <% end %>
      </div>
    </div>
  </div>

  <br>


  <div class="container-card row">
    <% @dogs.includes(:user).each do |dog| %>
      <%= render partial: 'dogs/card', locals: { dog: dog } %>
    <% end %>
  </div>
        <div class="map-container"
        id="map"
        style="
        width: 100%;
        height: 600px;
        "
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
     </div>
  </div>
  <div> <%= paginate @dogs %></div>
