<div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">

  <div class="banner-content">
    <h1> Trouver son molosse </h1>
    <div class="search-index2">
        <div class= "search-bar">
        <%= form_tag index_search_path, method: :get do %>
        <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Chercher un chien par son pédigrée !" %>
         </div>
            <button class="btn-search-index2"></button>
          <% end %>
    </div>
  </div>

</div>

<div class="container-flex">

    <div class="container-card">
      <% @dogs.includes(:user).each do |dog| %>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <%= render partial: 'dogs/card', locals: { dog: dog } %>
         </div>
        <% end %>
    </div>

    <div class="map-container">
        <div
          id="map"
          style="
          width: 100%;
          height: 100%;
          "
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
       </div>
    </div>

</div>


  <div> <%= paginate @dogs %></div>
