<div class="banner" style="background-image: url('<%= asset_path'Chien.landing.jpg', height: 200, width: 300%>');">
  <div class="row">

  <div class= "col-xs-12 col-sm-12 col-md-12">
    <div class="index-titre">L'AMOUR AVEC UN GRAND OUAF </div>
    <div class="index-titre-2">(Le meilleur endroit pour trouver le bon étalon) </div>
  </div>
  </div>

  <div class="row row-index">

    <div class="col-xs-12 col-md-6 call-to-action">
      <%= link_to "INSCRIRE SON DOGGUI", new_dog_path, class: "bouton-index pull-right"%>
    </div>

    <div class="col-xs-12 col-md-7 call-to-action-2">
      <div class= "search-index pull-left">
      <%= form_tag index_search_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control form-search",
          placeholder: "Doggui déjà inscris ... ex: labrador" %>
       </div>
     </div>
     <div class="col-xs-12 col-md-3">
         <button class="bouton-search pull-left">Rechercher <i class="fas fa-search"></i></button>
         <% end %>
    </div>
  </div>

</div>

<div class="container">

    <div class="row">
      <% @dogs.includes(:user).each do |dog| %>
        <div class="col-xs-12 col-sm-3 col-md-4">
          <%= render partial: 'dogs/card', locals: { dog: dog } %>
         </div>
        <% end %>
    </div>
</div>

  <br>
<div class="row">
   <div class="col-xs-12 col-md-12">
      <div class="row-tous"> <%= link_to "LES VOIR TOUS", index_search_path, class: "bouton-tous" %> </div>
   </div>
</div>
  <br>
<div class="row">
   <div class="row banner-number">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="number-card">
              <img src="https://png.icons8.com/dotty/50/000000/dog.png", class="image-number">
              <div class="legende-number-card">1500 Molosses inscrits</div>
            </div>
          </div>

         <div class="col-xs-12 col-sm-6 col-md-3">
           <div class="number-card">
              <img src="https://png.icons8.com/wired/50/000000/meeting.png", class="image-number">
                 <div class="legende-number-card">150 Rencontres respecteuses </div>
           </div>
         </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="number-card">
              <img src="https://png.icons8.com/dotty/50/000000/flying-stork-with-bundle.png", class="image-number"
              >
                 <div class="legende-number-card">65 Mini-molosses </div>
           </div>
         </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="number-card">
             <img src="https://img.icons8.com/material-outlined/26/000000/approval.png", class="image-number">
                 <div class="legende-number-card">Chaque annonce est contrôlée</div>
           </div>
         </div>
       </div>
 </div>

<div class="wrapper-gris">

    <div class="container">

      <div class="container-titre">
          Comment ça marche ?
      </div>
    <br>

   <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="card-explication">
             <img src="https://png.icons8.com/dusk/50/000000/gender.png", class="image6">
                <div class="cards-explication-titre">Un concept simple</div>
                <div class="card-explication-contenu-1">
                1. Nous ne vendons aucun annimaux, cette plateforme met à l'honneur les plus beaux pédigrées<br>
                2. Elle permet à une communauté passionnée de faire se reproduire leurs toutous. <br>
                3. Pour garantir une bonne première expérience de saillie nous vous proposons un guide qui partage les conseils de nos experts !
                </div>
                <div class="btn-explication-1">
                  <%= link_to "LE GUIDE DOGGUI", new_dog_path%>
                </div>
           </div>
         </div>
       <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-explication">
            <img src="https://png.icons8.com/bubbles/50/000000/male.png", class="image4">
             <div class="cards-explication-titre">Vous avez un chien mâle</div>
               <div class="card-explication-contenu-2">
               Vous pouvez inscrire gratuitement votre doggui grâce au formulaire en ligne.  Photos, décritpiton, chaque détail compte pour mettre à l'honneur votre annimal. N'hésitez pas à mettre autant de coeur et d'amour dans votre annonce :)
               </div>
                <div class="btn-explication-2">
                 <%= link_to "INSCRIRE SON DOGGUI"%>
               </div>
          </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-explication">
         <img src="https://png.icons8.com/bubbles/50/000000/female.png", class="image5">
         <div class="cards-explication-titre">Vous avez un chien femmelle</div>
        <div class="card-explication-contenu-3">
          Sur votre téléphone ou votre ordinateur venez découvrir tous nos lovely doggui.
          Les annonces sont modérées pour ne référencer que des propriétaires passionnés, reponsables et honnêtes. La transparence sur notre plateforme est une priorité.
          Une séléction par pédigrée vous permettra de cibler vos recherches.
        </div>
          <div class="btn-explication-3">
             <%= link_to "PARCOURIR LES DOGGUI", index_search_path%>
          </div>
        </div>
      </div>
    </div>

  </div>

 </div>

<div class="wrapper-orange-clair">
      <div class="container-titre-mois">
         Le mini doggui du mois
      </div>

     <div class="" style="background-image: url('<%= asset_path'chien.chiot.jpg'%>'); width: 750px; height: 450px; margin: auto; margin-top:10px">
    </div>
</div>

