<div class="container">

  <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> Trouver son molosse </h1>
      <div class="search-index2">
          <div class= "search-bar">
          <%= form_tag index_search_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher un chien par son pédigrée !" %>
           </div>
              <button class="btn-search-index2"></button>
            <% end %>
      </div>
    </div>
  </div>

    <br>

  <div class="index2">

   <div class="container-card row">
      <% @dogs.each do |dog| %>
        <div class="col-xs-12 col-md-6">
          <% if dog.picture_url  %>
     <div class="card">
              <div class="card-head">
                 <%= link_to cl_image_tag(dog.picture, class:"card-image"), dog_path(dog)%>
                <div class="card-title">
                    <h2><%= dog.nickname %> </h2>
                </div>
                <div class="card-avatar">
                <% if dog.user.avatar_url %>
                <%= link_to cl_image_tag(dog.user.avatar_url, class:"avatar-index"), showprofile_path(dog.user)%>
                <% else %>
                  <%= link_to image_tag("avatar.png", alt:"logo", class:"avatar-index"), showprofile_path(dog.user) %>
                <% end %>
               </div>
                <div class="card-like">
                    <%= link_to like_dog_path(dog), method: :put do %>
                    <p><%= dog.get_upvotes.size %> <p>
                    <%end%>
                    <%= link_to dislike_dog_path(dog), method: :put do %>
                    <p><%= dog.get_downvotes.size %> <p>
                    <%end%>
                </div>
              </div>
             <div class="card-footer">
                  <div class="card-footer-title">
                   <div class="card-footer-breed" style="text-transform :uppercase"> <%= dog.breed %> </div>
                   <div class="card-footer-version"> <%= dog.version %> </div>
                 </div>
                <div class="card-footer-price">
                 <%= dog.price %>€ / Saillie
                </div>
               <div class = "card-ville">
                   📍<%= dog.get_city&.capitalize %>
               </div>
             </div>
         </div>
         <% end %>
        </div>
      <% end %>
    </div>
          <div class="map-container"
          id="map"
          style="
          width: 100%;
          height: 600px;
          "
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
       </div>
   </div>
    <div> <%= paginate @dogs %></div>
  </div>
