
<div class="container">
	<div class="banner" style="background-image: url('<%= asset_path'chiens-heureux-jouent-a-deux-full-13651707.jpg'%>');">
	  <div class="banner-content">
	    <h1>L'AMOUR AVEC UN GRAND OUAF</h1>
      
	    <%= link_to "INSCRIRE SON MOLOSSE", new_dog_path, class: "big-button btn btn-reverse btn-warning"%>

      <%= form_tag index_search_path, method: :get do %>
		  <%= text_field_tag :query,
   			 	params[:query],
    			class: "form-control",
    			placeholder: "Chercher un chien par son pédigrée !" %>
          <button class="btn-search btn-warning "> search
          </button>
			<% end %>
	  </div>
	</div>

  <div class="row">
     <% @dogs.each do |dog| %>
        <div class="col-xs-12 col-sm-4">
          <% if dog.picture_url  %>
          <div class="card">
          <div class="card-image"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path dog.picture, height: 300, width: 400, crop: :fill %>')">
            <div class="card-description"><h2><%= link_to dog.nickname, dog_path(dog) %>  </h2>
               <% if dog.user.photo_url %>
                <%= cl_image_tag dog.user.photo_url, class: "card-user" %>
              <% else %>
               <%= image_tag "avatar.png", alt:"logo", class:"card-user"%>
               <% end %>
            </div>
          
          <div class="card-footer">
            <p><%= dog.description %> </p>
            <p><%= dog.price %>€</p>
         </div>
         </div>
        </div>
            <!-- <a class="card-link" href="#" ></a> -->
         <% else %>
           <div class="card">
          <div class="card-image"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= asset_path'images-2.jpg', height: 300, width: 400, crop: :fill %>')">
              <div class="card-description"><h2><%= link_to dog.nickname, dog_path(dog) %></h2>
              <% if dog.user.avatar_url %>
                <%= cl_image_tag dog.user.avatar_url, class: "card-user" %>
              <% else %>
               <%= image_tag "avatar.png", alt:"logo", class:"card-user"%>
               <% end %>
              </div>
                
            <div class="card-footer">
              <p><%= dog.description %> </p>
              <p><%= dog.price %>€</p>
            </div > 
            </div>
            </div>
         <% end %>
        </div>
      <% end %>
    </div>
  </div>


