
<div class="container">

    <%= simple_form_for (@dog) do |f| %>

      <div class= "row">
        <div class="col-sm-6"><%= f.input :picture, placeholder: 'Photo'%> </div>
        <div class="col-sm-4"><%= f.input :picture_cache, as: :hidden %></div>
        <div class="col-sm-6"><%= f.input :video %></div>
      </div>
        <br>

      <div class="row">
         <div class="col-sm-5"> <%= f.input :nickname, placeholder: 'ex: Elvis' %></div>
         <div class="col-sm-5"> <%= f.input :birthday_date %> </div>
     </div>

       <div class="row">
         <div class="col-sm-4"> <%= f.input :breed, placeholder: 'ex: Teckel' %></div>
         <div class="col-sm-4"> <%= f.input :version, placeholder: 'ex: kaninchen'%></div>
         <div class="col-sm-4"> <%= f.input :size, placeholder: 'ex: 120cm' %></div>
      </div>

      <div class= "row">

        <div class="col-sm-4"> <%= f.input :hair, placeholder: 'ex: Frisé'  %></div>
        <div class="col-sm-4"> <%= f.input :color, placeholder: 'ex: Arlequin' %></div>
        <div class="col-sm-4"> <%= f.input :eye_color, placeholder: 'ex: Vert' %></div>

      </div>

      <div class= "row">
         <div class="col-sm-4"><%= f.input :lof_number %></div>
         <div class="col-sm-4"><%= f.input :father_lof %></div>
         <div class="col-sm-4"><%= f.input :mother_lof %></div>
      </div>

       <div class="row">
         <div class="col-sm-6"><%= f.input :medical_analyse %></div>
         <div class="col-sm-6"><%= f.input :prize, label: "Won prize" %></div>
       </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :address %> </div>
      </div>

      <div class="row">
      <div class="description-form-for"><%= f.input :description, label: " Description", placeholder: 'ex: Annimal très joueur, à remporter un prix canin' %></div>
      </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :price, placeholder: '€' %></div>
        <div class="col-sm-6"> <%= f.submit "add a dog", class: "btn-form-new btn btn-warning " %></div></div>
      <% end %>


  </div>

