
<div class="container">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3 ">
      <div class= "form-for">
      <%= simple_form_for (@dog) do |f| %>
        <%= f.input :picture, 
                     placeholder: 'Photo', 
                     label: false, 
                     :input_html => { :s => 60, :maxlength => 60 } %>
        <%= f.input :picture_cache, as: :hidden %>
        <%= f.input :video %>
        <%= f.input :nickname %>
        <%= f.input :breed %>
        <%= f.input :size %>
        <%= f.input :address %>
        <%= f.input :hair %>
        <%= f.input :color %>
        <%= f.input :lof_number %>
        <%= f.input :birthday_date %>
        <%= f.input :prize %>
        <%= f.input :medical_analyse%>
        <%= f.input :father_lof %>
        <%= f.input :mother_lof %>
        <%= f.input :description %>
        <%= f.input :price %>

        <%= f.submit "add a dog", class: "btn btn-primary" %>
      <% end %>
      </div>
      </div>
</div>

