
<div class="container">

    <%= simple_form_for (@dog) do |f| %>

      <div class= "row">
        <div class="col-sm-6"><%= f.input :picture, label: 'Photo', placeholder: 'Photo'%> </div>
      </div>

       <div class= "row">
        <div class="col-sm-6"><%= f.input :picture_cache, as: :hidden %></div>
        <div class="col-sm-6"><%= f.input :video %></div>
      </div>
        <br>

      <div class="row">
         <div class="col-sm-5"> <%= f.input :nickname, label: 'Prénom', placeholder: 'ex: Elvis' %></div>
         <div class="col-sm-5"> <%= f.input :birthday_date , label: 'Date de naissance'%> </div>
     </div>

       <div class="row">
         <div class="col-sm-4"> <%= f.input :breed, label: 'Pedigrée', placeholder: 'ex: Teckel' %></div>
         <div class="col-sm-4"> <%= f.input :version, label: 'Version', placeholder: 'ex: kaninchen'%></div>
         <div class="col-sm-4"> <%= f.input :size, label: 'Longueur', placeholder: 'ex: 120cm' %></div>
      </div>

      <div class= "row">

        <div class="col-sm-4"> <%= f.input :hair, label: 'Type de poil', placeholder: 'ex: Frisé'  %></div>
        <div class="col-sm-4"> <%= f.input :color, label: 'Couleur de la robe',placeholder: 'ex: Arlequin' %></div>
        <div class="col-sm-4"> <%= f.input :eye_color, label: 'Couleur des yeux',placeholder: 'ex: Vert' %></div>

      </div>

      <div class= "row">
         <div class="col-sm-4"><%= f.input :lof_number, label: 'N° LOF'%></div>
         <div class="col-sm-4"><%= f.input :father_lof, label: 'N° LOF de son Papa' %></div>
         <div class="col-sm-4"><%= f.input :mother_lof,label: 'N° LOF de sa Maman' %></div>
      </div>

       <div class="row">
         <div class="col-sm-6"><%= f.input :medical_analyse %></div>
         <div class="col-sm-6"><%= f.input :prize, label: "Won prize" %></div>
       </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :address, type: 'search', label: 'Adresse de sa niche' %> </div>
      </div>

      <div class="row">
      <div class="col-xs-10 col-sm-4 col-md-6"><%= f.input :description, label: " Description", placeholder: 'ex: Annimal joueur, à remporter un prix canin' %> </div>
      </div>

      <div class="row">
        <div class="col-sm-6"> <%= f.input :price, label: 'Rétribution', placeholder: '€' %></div>
        <div class="col-sm-6"> <%= f.submit "Ajouter Votre Doggi", class: "btn-form-new btn btn-warning " %></div>
      </div>
      <% end %>


  </div>

