<h1> Bienvenue sur la fiche d'un seul Dog <h1>
	<div class="col-xs-6">
	<p> voici les infos de ce chien </p>
  <%= cl_image_tag @dog.picture, height: 100, width: 140, crop: :fill %>
		<ul>
			<li> Surnom <%= @dog.nickname %> </li>
			<li> Taille : <%= @dog.size %></li>
			<li> Race : <%= @dog.breed %></li>
			<li> Maitre : <%= @dog.user.email %></li>
			<li> Addresse du chien : <%= @dog.address %> </li>
		</ul>
  </div>
<div class="col-xs-6">
  <div
        id="map"
        style="width: 100%;
        height: 400px;"
        data-markers="<%= @marker.to_json %>">  
      </div>
  </div>

	<%= link_to "Retour à l'index", dogs_path, class: "btn btn-danger"%>
	<%= link_to "Modifier mon annonce", edit_dog_path, class: "btn btn-primary"%>
	<%= link_to "Supprimer l'annonce", dog_path, method: :delete,  class: "btn btn-success", data: { confirm: "Are you sure?" } %>
    <%= link_to "Book it", new_dog_booking_path(@dog), class: "btn btn-warning" %>


 