
<div class="container">

  <div class="view-show">

    <div class="grid-show">

        <div class="grid-retour">
          <%= link_to 'Retour', index_search_path, class: "btn btn-warning" %>
        </div>

        <div class="grid-name">
          <%=@dog.nickname%> - <%=@dog.breed%> - <%= @age %>
        </div>

        <div class="grid-image">
            <% if @dog.picture_url  %>
              <div class="image-show"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, height: 400, width: 750, crop: :fill%>');">
              </div>
              <% else %>
              <div class="image-show"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url('<%= asset_path'dog.png', height: 300, width: 400, crop: :fill %>')">
              </div>
             <% end %>
         </div>

          <div class="grid-bouton">
              <% if policy(@dog).update? %>
              <%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-warning list-inline" %>
              <% end %>
              <% if policy(@dog).destroy? %>
              <%= link_to 'supprimer', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger list-inline" %>
              <% end %>

          </div>

          <div class="grid-caracteristique">

            <div class="esthetique">
              <p><div class="texte-caracteristique"> Version :</div> <%= @dog.version %></p>
              <p><div class="texte-caracteristique"> Couleur de la robe :</div><%= @dog.color %></p>
              <p><div class="texte-caracteristique"> Type de poil :</div><%= @dog.hair %></p>
              <p><div class="texte-caracteristique"> Couleur des yeux :</div> <%= @dog.eye_color %></p>
            </div>

             <div class="divers">
             <p class="texte-caracteristique">Carnet de santé à jour : <%= @dog.medical_analyse %></p>
             <p class="texte-caracteristique">Prix beauté reçu : <%= @dog.prize %></p>
            </div>

            <div class="lof">
              <p>N° Lof de <%= @dog.nickname %> : <%= @dog.lof_number %></p>
             <p> N° Lof de sa Maman: <%= @dog.mother_lof %></p>
             <p> N° Lof de son Papa: <%= @dog.father_lof %></p>
            </div>


          </div>

          <div class="grid-adresse">
            <%= @dog.address %>
          </div>

          <div class="grid-description">
            <p> Description :</p>
            <%= @dog.description %>
          </div>

          <div class="grid-user">
            <% if @dog.user.avatar_url %>
            <%= cl_image_tag @dog.user.avatar_url, class: "grid-user-avatar" %>
            <% else %>
            <%= image_tag "avatar.png", alt:"logo", class:"grid-user-avatar"%>
            <% end %>

            <%= @dog.user.first_name %> <%= @dog.user.last_name %>
            <%= @dog.user.introduction %>
          </div>

          <div class="grid-map">
             <div
            id="map"
            style="width: 100%;
            height: 100%;"
            data-markers="<%= @marker.to_json %>">
            </div>
          </div>

          <div class="grid-review">


          </div>

        </div>
</div>

















