<div class="container">

    <div class="row">

      <div class="card-show-grey col-xs-12 col-sm-4 col-md-3">
        <div class="show-titre">
          <%=@dog.nickname%> - <%=@dog.breed%> - <%= @age %>
        </div>

        <br>

        <div class="esthetique">
          <div class="texte-caracteristique">VERSION : </div><div><%= @dog.version %></div>
          <div class="texte-caracteristique">COULEUR DE LA ROBE : </div><div><%= @dog.color %></div>
          <div class="texte-caracteristique">TYPE DE POIL : </div><div> <%= @dog.hair %></div>
          <div class="texte-caracteristique">COULEUR DES YEUX : </div><div><%= @dog.eye_color %></div>
        </div>

         <br>

        <div class="lof">
           <div class="texte-caracteristique">LOF </div><div><%= @dog.nickname %> : <%= @dog.lof_number %></div>
           <div class="texte-caracteristique">LOF DE SA MAMAN : </div><div><%= @dog.mother_lof %></div>
           <div class="texte-caracteristique">LOF DE SON PAPA : </div><div><%= @dog.father_lof %>
          </div>
        </div>

         <br>

         <div class="divers">
          <div class="texte-caracteristique">👩‍⚕️ Carnet de santé à jour :</div><div> <%= @dog.medical_analyse %></div>
          <div class="texte-caracteristique">🥇Prix beauté reçu :</div><div> <%= @dog.prize %>
          </div>
        </div>

     </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="image-show"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, height: 400, width: 750, crop: :fill%>');">
          </div>
       </div>

       <div class="col-xs-12 col-sm-10 col-md-2">
                <% if policy(@dog).update? %>
                <div class="bouton-show">
                <%= link_to 'MODIFIER', edit_dog_path(@dog), class: "btn-block" %>
                <% end %></div>
                 <div class="bouton-show">
                 <% if policy(@dog).destroy? %>
                <%= link_to 'SUPPRIMER', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-block" %>
                <% end %></div>
                 <br>
                <div class="bouton-show-orange">
                 <%= link_to 'RETOUR LISTE', index_search_path, class: "btn-block" %>
                </div>
                <div class="bouton-show-orange">
                 <%= link_to 'DISCUTER', index_search_path, class: "btn-block" %>
                </div>
       </div>
     </div>

    <div class="row">

      <div class="card-show-grey col-xs-12 col-sm-3 col-md-3">
            <div class="info-user">
              <% if @dog.user.avatar_url %>
              <%= cl_image_tag @dog.user.avatar_url, class: "grid-user-avatar" %>
              <% else %>
              <%= image_tag "avatar.png", alt:"logo", class:"grid-user-avatar"%>
              <% end %>
               <div class="show-titre"><%= @dog.user.first_name %> <%= @dog.user.last_name %> </div> (<%= @dog.user.email %> 📲)

            </div>
            <br>

            <div class="esthetique">
              <%= @dog.user.introduction %>
           </div>
        </div>

        <div class="card-show col-xs-12 col-sm-6 col-md-6">
            <div class="info-description">
              <div class="show-titre">🐕 Description</div>
              <%= @dog.description %>
            </div>
        </div>

      </div>

     <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="map-show">
          📍<%= @dog.address %>
           <div
          id="map"
          style="min-width: 100%;
          min-height: 100%;"
          data-markers="<%= @marker.to_json %>">
          </div>
        </div>
      </div>
    </div>

 </div>









