<div class="container-fluid">

    <div class="row">
      <div class="card-show-grey col-xs-12 col-sm-4 col-md-3">
        <div class="show-titre">
          <%= @dog.nickname %> - <%= @dog.breed %> - <%= @age %>
        </div>

        <br>

        <div class="esthetique">
          <div class="texte-caracteristique">VERSION : </div><div><%= @dog.version %></div>
          <div class="texte-caracteristique">COULEUR DE LA ROBE : </div><div><%= @dog.color %></div>
          <div class="texte-caracteristique">TYPE DE POIL : </div><div> <%= @dog.hair %></div>
          <div class="texte-caracteristique">COULEUR DES YEUX : </div><div><%= @dog.eye_color %></div>
        </div>

         <br>

        <div class="lof">
           <div class="texte-caracteristique">LOF </div><div><%= @dog.nickname %> : <%= @dog.lof_number %></div>
           <div class="texte-caracteristique">LOF DE SA MAMAN : </div><div><%= @dog.mother_lof %></div>
           <div class="texte-caracteristique">LOF DE SON PAPA : </div><div><%= @dog.father_lof %>
          </div>
        </div>

         <br>

         <div class="divers">
          <div class="texte-caracteristique">👩‍⚕️ Carnet de santé à jour :</div><div> <%= @dog.medical_analyse %></div>
          <div class="texte-caracteristique">🥇Prix beauté reçu :</div><div> <%= @dog.prize %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="image-show img-fluid"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, height: 400, width: 750, crop: :fill%>'); width: 100%;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-10 col-md-3">
        <% if policy(@dog).update? %>
          <div class="bouton-show">
            <%= link_to 'MODIFIER', edit_dog_path(@dog), class: "btn-block" %>
          </div>
        <% end %>
        <% if policy(@dog).destroy? %>
          <div class="bouton-show">
            <%= link_to 'SUPPRIMER', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-block" %>
          </div>
        <% end %>
         <br>
        <div class="bouton-show-orange">
          <%= link_to 'RETOUR LISTE', index_search_path, class: "btn-block" %>
        </div>
        <% if user_signed_in? %>
          <chat
            :get_url="<%= find_messages_index_path %>"
            :post_url="<%= find_dog_post_conversation_path %>"
            :conversations_url="<%= dog_conversations_path(@dog, format: :json).to_json %>"
            :dog_to_user="<%= policy(@dog).to_user? %>"
            :dog="<%= @dog.id %>"
          ></chat>
        <% end %>
      </div>
     </div>

    <div class="row">

      <div class="card-show-grey col-xs-12 col-sm-3 col-md-3">
            <div class="info-user">
              <% if @dog.user.avatar_url %>
              link_to cl_image_tag(dog.user.avatar_url, class:"avatar-show"), showprofile_path(@dog.user)
              <% else %>
              <%= link_to image_tag("avatar.png", alt:"logo", class:"avatar-show"), showprofile_path(@dog.user) %>
              <% end %>
               <div class="show-titre"><%= @dog.user.first_name %> <%= @dog.user.last_name %> </div> (<%= @dog.user.email %> 📲)

            </div>
            <br>

            <div class="esthetique">
              <%= @dog.user.introduction %>
           </div>
        </div>

        <div class="card-show col-xs-12 col-sm-6 col-md-6">
            <div class="info-description">
              <div class="show-titre">🐕 Description</div>
              <%= @dog.description %>
            </div>
        </div>

      </div>

     <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
            <div class="map-show">
          📍<%= @dog.address %>
           <div
          id="map"
          style="min-width: 100%;
          min-height: 100%;"
          data-markers="<%= @marker.to_json %>">
          </div>
        </div>
      </div>
    </div>

 </div>
