
<div class="container">

  <div class="view-show">

    <div class="grid-show">

      <div class="show-card-titre">
        <%=@dog.nickname%> - <%=@dog.breed%> @age
      </div>

      <div class="show-card-image">

        <div class="image-show" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @dog.picture, height: 300, width: 400, crop: :fill %>');">
       </div>
  
        <div class="show-card-bouton">

          <% if policy(@dog).update? %>
          <%= link_to 'Edit', edit_dog_path(@dog), class: "btn btn-warning list-inline" %>
          <% else %>
          <%= link_to "Reservation", new_dog_booking_path(@dog), class: "btn btn-success list-inline"%>
          <% end %>
          <% if policy(@dog).destroy? %>
          <%= link_to 'supprimer', @dog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger list-inline" %>
          <% end %>
          </div> 
      </div> 

        <div class="show-card-description">
        
          <div class="lof">
             <div class="lof_number"><%= @dog.lof_number %></div>
             <div class="father_number"><%= @dog.father_lof %></div>
             <div class="mother_number"><%= @dog.mother_lof %></div>
          </div>

           <div class="esthetique">
            <%= @dog.hair %>
            <%= @dog.size %>
            <%= @dog.prize %>
           </div>
        
            <div class="show-adresse"><%= @dog.address %> </div>
            <div class="show-description"> <%= @dog.description %></div>

        </div>

        <div class="show-card-user">

          <% if @dog.user.avatar_url %>
          <%= cl_image_tag @dog.user.avatar_url, class: "show-card-avatar" %>
          <% else %>
          <%= image_tag "avatar.png", alt:"logo", class:"show-card-avatar"%>
          <% end %>
          <%= @dog.user.first_name %> <%= @dog.user.last_name %>
        </div>
        

       <div class="show-bouton-retour">

        <%= link_to "Revenir à la recherche", dogs_path, class: "btn btn-primary list-inline"%>
       </div>

    </div>
    
    <div class="map-show">
     <div
          id="map"
          style="width: 100%;
          height: 80vh;"
          data-markers="<%= @marker.to_json %>">  
      </div>
    </div>

  </div> 
</div> 


     

 