<div class="container">

  <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> Notre communauté </h1>
      <div class="search-index2">
          <div class= "search-bar">
          <%= form_tag index_search_path, method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Chercher un utilisateur!" %>
           </div>
              <button class="btn-search-index2"></button>
            <% end %>
      </div>
    </div>
  </div>

  <div class="container-card row">
      <% @users.each do |user| %>
        <div class="col-xs-12 col-md-6">
          <% if user.picture_url  %>
          <div class="card">
            <div class="card-image"
              style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path user.picture, height: 300, width: 400, crop: :fill %>')">
              <div class="card-head"><h2><%= link_to dog.nickname, dog_path(dog) %>  </h2>
              </div>
              </div>
          <% else %>
           <div class="card">
            <div class="card-image"
            style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url('<%= asset_path'dog.png', height: 300, width: 400, crop: :scale %>')">
              <div class="card-head"><h2><%= link_to dog.nickname, dog_path(dog) %></h2>
             </div>
           </div>
          </div>
        </div>
      </div>
  </div>





