  <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> <i class="fas fa-user"></i> Mon profil </h1>
    </div>
  </div>


<div class="container">
  <div class="card-show-user col-xs-12 col-sm-3 col-md-3">
    <div class="info-user">
      <% if current_user.avatar_url %>
        <img src="<%= cl_image_path current_user.avatar, width: 70, height: 70, crop: :fill, gravity: :face %>" class="avatar-show">
      <% else %>
        <%= image_tag "avatar.png", alt:"logo", class:"avatar-show"%>
      <% end %>

      <br>

       <div class="show-titre-description"><%= current_user.first_name %> <%= current_user.last_name %> </div>
        <div>Inscrit depuis : <%= l(current_user.created_at, format: :date_month_year_concise) %></div>
        <div>Dernière visite : <%= l(current_user.last_sign_in_at, format: :date_month_year_concise) %></div>
        <div>profil vérifié <i class="fas fa-user-check"></i></div>

    </div>
    <br>

    <div class="esthetique">
      <%= "' #{@current_user.introduction}' " %>
    </div>
    <br>
      <%= link_to '(Modifier)',edit_user_registration_path%>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8">
    <nav class="navbar-toggleable-md navbar-light bg-faded">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active rubrique-profile" id="nav-home-tab" data-toggle="pill" href="#nav-my-dogs" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-dog"></i> MON DOGGUI  | </a>
        <a class="nav-item nav-link rubrique-profile" id="nav-profile-tab" data-toggle="tab" href="#nav-discussions" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="far fa-envelope"></i> MESSAGES ENVOYES | </a>
        <a class="nav-item nav-link rubrique-profile" id="nav-like-tab" data-toggle="tab" href="#nav-like" role="tab" aria-controls="nav-like" aria-selected="false"><i class="far fa-heart"></i> LIKE</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-navContent">
      <div class="tab-pane fade active in" id="nav-my-dogs" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
          <% if @dogs.empty? %>
          <div class="col-xs-12 col-sm-5 card-structure">
              <div class="card-new" style="background-image: url('<%= asset_path'dogempty.png'%>');">
                <%= link_to new_dog_path, class: "card-new-lien" do %>
                 <span class="card-new-title">
                    <h4> + Ajouter votre chien </h4>
                 <span>
                <% end %>
             </div>
          </div>
          <% else %>
           <% @dogs.each do |dog| %>
            <div class="col-xs-12 col-sm-5 col-md-6">
              <%= render partial: 'dogs/card-user', locals: { dog: dog } %>
             </div>
          <% end %>
        <%end%>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-discussions" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="row">
          <% @other_dogs.each do |dog| %>
            <div class="col-xs-12 col-sm-5 col-md-6">
            <%= render partial: 'dogs/card', locals: { dog: dog } %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab">
        <div class="row">
          <% @liked_dogs.each do |dog| %>
          <div class="col-xs-12 col-sm-5 col-md-6">
            <%= render partial: 'dogs/card', locals: { dog: dog } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
