  <div class="banner2" style="background-image: url('<%= asset_path'Chien.landing.jpg'%>');">
    <div class="banner-content">
      <h1> <i class="fas fa-user"></i> Mon profil </h1>
    </div>
  </div>


<div class="container">
  <div class="card-show-user col-xs-12 col-sm-3 col-md-3">
    <div class="info-user">
      <% if current_user.avatar_url %>
        <%= cl_image_tag current_user.avatar_url, class: "avatar-show" %>
      <% else %>
        <%= image_tag "avatar.png", alt:"logo", class:"avatar-show"%>
      <% end %>
       <div class="show-titre"><%= current_user.first_name %> <%= current_user.last_name %> </div> (<%= current_user.email %> 📲)
    </div>
    <br>

    <div class="esthetique">
      <%= @current_user.introduction %>
    </div>
    <br>
      <%= link_to '(Modifier)',edit_user_registration_path%>
  </div>

  <div class="col-xs-12 col-sm-8 col-md-8">
    <nav class="navbar-toggleable-md navbar-light bg-faded">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active rubrique-profile" id="nav-home-tab" data-toggle="pill" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fas fa-dog"></i> MES DOGGUIS  | </a>
        <a class="nav-item nav-link rubrique-profile" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="far fa-envelope"></i> MESSAGES ENVOYES | </a>
        <a class="nav-item nav-link rubrique-profile" id="nav-like-tab" data-toggle="tab" href="#nav-like" role="tab" aria-controls="nav-like" aria-selected="false"><i class="far fa-heart"></i> LIKE</a>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade active in" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row">
          <% @dogs.each do |dog| %>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <div class="card">
                <div class="card-head">
                  <%= link_to cl_image_tag(dog.picture, class:"card-image"), dog_path(dog)%>
                <div class="card-title">
                  <h2><%= dog.nickname %> </h2>
                </div>
              </div>
             <div class="card-footer">
                <div class="card-footer-title">
                  <div class="card-footer-breed" style="text-transform :uppercase">
                    <%=dog.breed&.name %>
                  </div>
                  <div class="card-footer-version">
                    <%= dog.version %>
                  </div>
                </div>
                <div class = "card-ville">
                  <img src="https://img.icons8.com/small/16/000000/secured-letter.png">
                  <%= dog.price %>€ / Saillie
                  3 likes
                  <%= link_to 'MODIFIER', edit_dog_path(dog), class: "btn-block" %>
               </div>
             </div>
           </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
        <% @other_dogs.each do |dog| %>
          <div class="col-xs-12 col-sm-5 col-md-5">
          <%= render partial: 'dogs/card', locals: { dog: dog } %>
         </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-like" role="tabpanel" aria-labelledby="nav-like-tab">
      <div class="row">
        <% @liked_dogs.each do |dog| %>
         <div class="col-xs-12 col-sm-5 col-md-5">
          <%= render partial: 'dogs/card', locals: { dog: dog } %>
         </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
