<div class="container">

  <div class="row">

    <br>

      <div class="card-show-user col-xs-12 col-sm-3 col-md-3">
        <div class="info-user">
          <% if @user.avatar_url %>
          <%= cl_image_tag @user.avatar_url, class: "avatar-show" %>
          <% else %>
          <%= image_tag "avatar.png", alt:"logo", class:"avatar-show"%>
          <% end %>
           <div class="show-titre"><%= @user.first_name %> <%= @user.last_name %> </div> (<%= @user.email %> 📲)
        </div>
        <br>

        <div class="esthetique">
          <%= @user.introduction %>
       </div>
    </div>

      <div class="col-xs-12 col-sm-8 col-md-9">
        <% @user.dogs.includes(:user).each do |dog| %>
          <div class="col-xs-12 col-md-5">
            <%= render partial: 'dogs/card', locals: { dog: dog } %>
           </div>
           <% end %>
    </div>
</div>




