<div class="container">

  <div class="row">

      <div class="card-show-grey col-xs-12 col-sm-3 col-md-3">
          <div class="info-user">
            <% if @user.avatar_url %>
            <%= cl_image_tag @user.avatar_url, class: "grid-user-avatar" %>
            <% else %>
            <%= image_tag "avatar.png", alt:"logo", class:"grid-user-avatar"%>
            <% end %>
             <div class="show-titre"><%= @user.first_name %> <%= @user.last_name %> </div> (<%= @user.email %> 📲)
          </div>
          <br>

          <div class="esthetique">
            <%= @user.introduction %>
         </div>
      </div>

    <div class="col-xs-12 col-sm-8 col-md-8">
      <% @user.dogs.each do |dog| %>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="card">
                <div class="card-head">
                   <%= link_to cl_image_tag(dog.picture, class:"card-image"), dog_path(dog)%>
                  <div class="card-title">
                      <h2><%= dog.nickname %> </h2>
                  </div>
                  <div class="card-like">
                      <%= link_to like_dog_path(dog), method: :put do %>
                      <p><%= dog.get_upvotes.size %> <p>
                      <%end%>
                      <%= link_to dislike_dog_path(dog), method: :put do %>
                      <p><%= dog.get_downvotes.size %> <p>
                      <%end%>
                  </div>
                </div>
               <div class="card-footer">
                    <div class="card-footer-title">
                     <div class="card-footer-breed" style="text-transform :uppercase"> <%= dog.breed %> </div>
                     <div class="card-footer-version"> <%= dog.version %> </div>
                   </div>
                  <div class="card-footer-price">
                   <%= dog.price %>€ / Saillie
                  </div>
               </div>
           </div>
          </div>
        <% end %>
    </div>
</div>




