
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
    <%= image_tag "Logo.Doggui.png", alt: "coworking", width:125 %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Notre service", quisommesnous_path, class: 'link-to-nav'%><span class="sr-only">(current)</span></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">


        <% if current_user%>

          <% if user_signed_in? && current_user.avatar.present? %>
             <img src="<%= cl_image_path current_user.avatar, width: 49, height: 49, crop: :fill, gravity: :face %>" class="avatar-navbar dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <% else %>
            <img src="<%= image_path "avatar.png" %>" class="avatar-navbar dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
         <% end %>

         <li class="dropdown">
            <li><%= link_to "Ajouter votre doggui", new_dog_path, class:"btn-inscription"%></li>

            <ul class="dropdown-menu">
              <li class="menu-edit-profile"><%= link_to 'Mon Profil', index_dogs_path   %></li>
              <li class="menu-edit-profile"><%= link_to 'Mes paramètres',edit_user_registration_path%></li>
              <li role="separator" class="divider"></li>
              <li class="menu-logout"><%= link_to 'Se déconnecter',destroy_user_session_path, method: :delete, data: { confirm: 'Etes-vous sûr?' } %></li>
            </ul>

            <% else %>
            <div class="nav-connexion">
            <%= link_to "Se connecter",new_user_session_path, class: "btn-sple-or"%>
            <div><hr class="barre-nav" /></div>
              <%= link_to "S'inscrire",new_user_registration_path, class: "btn-sple-or"%>
            <% end %>
          </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
