<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", alt: "coworking", size: "150x500" %>
    <!-- <img src="../../assets/images/logo.png" alt="logo"> -->
  </a>

  <!-- Right Navigation -->
      <div class="navbar-wagon-right hidden-xs hidden-sm">



    <% if current_user%>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= link_to "Créer un chien", new_dog_path, class: "btn btn-reverse btn-primary"%>


          <% if user_signed_in? && current_user.avatar.present? %>
            <img src="<%= cl_image_path current_user.photo, height: 300, width: 400, crop: :fill %>" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <% else %>
            <img src="https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">

          <% end %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to 'Profile',edit_user_registration_path%></li>
            <li><%= link_to 'Logout',destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
        </div>
      </div>
    <% else %>

      <%= link_to "Se connecter",new_user_session_path, class: "btn btn-reverse btn-primary"%>
      <%= link_to "S'inscrire",new_user_registration_path, class: "btn btn-reverse btn-primary"%>
      <% end %>



  </div>
</div>
